<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudo.equeue" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="com.sudo.equeue.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission android:name="com.sudo.equeue.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".utils.QueueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activities.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NetService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.sudo.equeue" />
            </intent-filter>
        </receiver>

        <!-- <provider -->
        <!-- android:name=".content.HHContentProvider" -->
        <!-- android:authorities="com.example.alex.headhunter.provider" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" > -->
        <!-- </provider> -->

        <activity android:name=".activities.MainActivity" >
        </activity>

        <activity android:name=".activities.FindQueueActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".activities.QRCodeActivity" >
        </activity>

        <activity android:name=".activities.QueueActivity">
        </activity>

        <activity android:name=".activities.QueueViewerActivity" >
        </activity>

        <activity android:name=".activities.RegisterActivity" >
        </activity>

        <activity android:name=".activities.WebViewActivity" >
        </activity>

        <activity
            android:name=".activities.QRActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <service
            android:name=".push.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".push.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".push.RegistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
